__pycache__/
__pycache__
.pytest_cache
*.pyc
*.pyo
.vscode
.venv
.env
.env*
.gitignore
Makefile
README.md
Dockerfile*
docker-compose*
docker_compose
api.http
.git
requirements.txt
core/tests
.pre-commit-config.yaml
scripts
certs
nginx.conf
nginx.monitoring.conf
nginx-cert.conf
test.py
test.html
entrypoint.dev.sh
pg_backups
