__pycache__/
__pycache__
.pytest_cache
*.pyc
*.pyo
.vscode
.venv
.env
.env*
.gitignore
Makefile
README.md
Dockerfile*
docker-compose*
docker_compose
api.http
.git
requirements.txt
core/tests
.pre-commit-config.yaml
core/scripts
certs
nginx.conf